
:root {
--box-bg-light: #24242e;
--box-bg-middle: #2d3d35;
--box-bg-dark: #1f1f2b;
--active-color: #f5c346;
--body-bg: #1f1f2b;
} 
/* переменной присваиваем значение, чтобы не писать его тысячу раз*/


body {
  background-color: var(--body-bg);
}
.parent {
    border: 1px solid gray;
    display: grid;  /* flex dlja roditeljskogo */
    /*flex-direction: row-reverse; column revers
    flex-wrap perenosit na sled stroku
    CSS-tricks.com/snippets/css/a-guide-to-flexbox/ 
    
    
    justify-content: center;
    height: 300px;
    gap: 15px 25px; */

    grid-template-columns: repeat(3, 1fr);
    height: 300px;
}

.child {
   /* border: 1px solid rgb(66, 245, 66);
    margin: 5px;
   /* flex-grow: 1; /* ravnqe vse. mozno otdeljnomu elementu napisatj i on budet drugim */

}

.growUP {flex-grow: 3;}

/* justify позиционирование элементов
align conтент внутреннее содержимое смещается так, как мы ему задаем

гап gap  промежутки между виртуальными колонками

row-gap; column-gap*/


/*grid позиционирует и по вертикали и по горизонтали одновременно*/


/*NOVOE */

.card-bg-light {
    background-color: var(--box-bg-light);
}

 h3, h5 {
    color: white;} 

.card-bg-light .card-text >div, .card-bg-middle .card-text {
    color:rgb(165, 156, 156);
    font-weight: bold;
}

.card-bg-middle {
    background-color: var(--box-bg-middle);
}

.card-bg-middle a:link, .card-bg-middle a:active, .card-bg-middle a:visited {
 color: var(--active-color);
 text-transform: uppercase;
 text-decoration: none;
 font-weight: bold;
}

.card-bg-middle .card-link::after {
    content: '\f054';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: 5px;
    font-size: 12px;
    position: relative;
    bottom: 1px;
}












/* CIRKLE PROGRESS BAR*/

.wrapper {
    width: 60px; /* Set the size of the progress bar */
    height: 60px;
    /*position: absolute; /* Enable clipping */
    clip: rect(0px, 100px, 100px, 50px); /* Hide half of the progress bar */
  }
  /* Set the sizes of the elements that make up the progress bar */
  .circle {
    width: 60px;
    height: 60px;
    border: 5px solid var(--active-color);
    border-radius: 50px;
    position: absolute;
    clip: rect(0px, 50px, 100px, 0px);
  }
  /* Using the data attributes for the animation selectors. */
  /* Base settings for all animated elements */
  div[data-anim~=base] {
    -webkit-animation-iteration-count: 1;  /* Only run once */
    -webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
    -webkit-animation-timing-function:linear; /* Linear animation */
  }
  
  .wrapper[data-anim~=wrapper] {
    -webkit-animation-duration: 0.01s; /* Complete keyframes asap */
    -webkit-animation-delay: 3s; /* Wait half of the animation */
    -webkit-animation-name: close-wrapper; /* Keyframes name */
  }
  
  .circle[data-anim~=left] {
    -webkit-animation-duration: 6s; /* Full animation time */
    -webkit-animation-name: left-spin;
  }
  
  .circle[data-anim~=right] {
    -webkit-animation-duration: 3s; /* Half animation time */
    -webkit-animation-name: right-spin;
  }
  /* Rotate the right side of the progress bar from 0 to 180 degrees */
  @-webkit-keyframes right-spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(180deg);
    }
  }
  /* Rotate the left side of the progress bar from 0 to 360 degrees */
  @-webkit-keyframes left-spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  /* Set the wrapper clip to auto, effectively removing the clip */
  @-webkit-keyframes close-wrapper {
    to {
      clip: rect(auto, auto, auto, auto);
    }
  }

  /*KONEC*/

  .CircleProgress {
      position: relative;
      height: 85px;
      text-align: center;
      width: 60px;
      margin: 5px;
      color: white;
  }

  .CircleProgress .perc {
      position: absolute;
      top: 17px;
      left: 15px;
      color: white;
  }

  .card-bg-dark {
      background-color: var(--box-bg-dark);
  }

/* LINEAR PROGRESS BAR*/

.progress {
    height: 5px;
}
.progress-bar {
    height: 5px;
    background-color: var(--active-color);
}
.ProgressWrapper {
    margin: 5px;
    color:white;
    font-size: 15px;
    font-weight: bold;
}
.ProgressWrapper .title {
    display: flex;
    justify-content: space-between;
    margin:15px;
}

/*LINKS*/

.links a { 
font-size: 12px;
text-decoration: none;
color: gray;
font-weight: bold; }



.links a::before {
    content: '\f00c';
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-left: 5px;
    font-size: 12px;
    position: relative;
    bottom: 1px;
    right: 5px;
    color: var(--active-color);
}

/*additional slide description*/

.slideTitle {
  position: absolute;
  z-index: 10;
  padding: 50px;
  font-weight: bold;
}

.carousel-item {}

/*numbers*/

#countNumbers{
  list-style: none;
  width:100%;
  heght: 35px;
  background-color: var(--box-bg-middle);
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;

}

#countNumbers li {
  display:inline;
  
  color: white;
  font-weight: bold;

}

#countNumbers li:first-child:before {
  content:'10+';
  color: var(--active-color);
  margin-right: 10px;
}

#countNumbers li:last-child:before {
  content:'20+';
  color: var(--active-color);
  margin-right: 10px;
}

#countNumbers li:nth-child(2):before {
  content:'143';
  color: var(--active-color);
  margin-right: 10px;
}
#countNumbers li:nth-child(3):before {
  content:'114';
  color: var(--active-color);
  margin-right: 10px;
}