@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,700;0,900;1,100;1,700;1,900&display=swap');
 * {font-family: 'Roboto', sans-serif;
font-weight: 100;
}

body {
    display: flex;
    align-items: center;
    min-height: 100vh; 

    background-image: url('../img/img.jpg');
    background-size: cover;


/* background-size: contain;
background-repeat: no-repeat; */


}

.loginBox {
    width: 250px;
    height: 400px;
    /*border: 1px solid rgb(221, 92, 130);*/
    border-radius:10px; 
margin: auto;
background-color: #ffffff;
-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5); 
box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5);
text-align: center;

position:relative;
}

.loginBox h1 {
    color:rgb(170, 131, 165);
    text-align: center;
    text-transform: capitalize;
    font-weight: 100;
}

.loginBox input[type="text"], .loginBox [type="password"] {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.5); 
box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.2);
height: 35px;
width: 70%;
margin: 10px;
border: 0ch;
border-radius: 10px;
color:rgb(85, 57, 75);
font-weight:700; 
padding-left: 25px;
outline:none;
}



::placeholder {
    color:rgb(204, 187, 198);
font-weight:700; 
margin-left: 25px;

}


.loginBox input[type="button"]
    {
        height: 35px;
        width: 125px;
       margin-top: 10px;
       margin-bottom: 50px;
       background-color: rgb(250, 84, 228);
       color: rgb(255, 255, 255);
       border-radius: 15px;
       border: none;
       text-transform: uppercase;
       font-weight: 700;
       letter-spacing: 1px;
       font-size: 10px;
       -webkit-box-shadow: 5px 5px 15px 5px rgba(249,17,255,0.2); 
box-shadow: 5px 5px 15px 5px rgba(249,17,255,0.3);
    }

    .loginBox .middleText
    { font-weight: 700;
    color: rgb(180, 172, 172);
}

.loginBox .link
{
    text-transform: capitalize;
    text-decoration:none;
    color: rgb(247, 72, 247);
    font-weight: 700;
    
    

}